<nav class="navbar nav navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <div class="main collapse navbar-collapse" id="collapsibleNavId">
      <div class="icon-toggle" (click)="toggleSidebarClick()" >
        <span class="navbar-toggler-icon d-block "></span>
      </div>
        <i class="fas fa-sticky-note note-icon m-2"></i>
        <h3 class="h5 m-0">Notes</h3>
      <form class="mx-auto col-md-5">
        <div class="input-container">
          <i class="fas fa-search"></i>
          <input class="form-control me-sm-2" type="text" placeholder="Search" />
        </div>
      </form>
      <div class="">
        <i class="fas fa-sync-alt"></i>
      </div>
    </div>
  </div>
</nav>
