<div class="nav-items" [class.span-none]="isHidden" >
  <div class="nav-item" routerLink="notes" routerLinkActive="active">
    <i class="fa-regular fa-comment-dots"></i>
    <span>Notes</span>
  </div>
  <div class="nav-item" routerLink="reminders" routerLinkActive="active">
    <i class="fa-regular fa-bell"></i>
    <span>Reminders</span>
  </div>
  <div class="nav-item">
    <i class="fa-regular fa-pen-to-square"></i>
    <span>Edit labels</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-box-archive"></i>
    <span>Archive</span>
  </div>
  <div class="nav-item">
    <i class="fa-regular fa-trash-can"></i>
    <span>Bin</span>
  </div>
</div>
